 body {

     padding: 0;
     margin: 0;
     position: relative;

 }


 section {

     width: 90vw;
     height: 85vh;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

 #video {

     width: 100vw;
     height: 100vh;
     object-fit: cover;
     position: fixed;
     left: 0;
     right: 0;
     top: 0;
     bottom: 0;
     z-index: -1;
     opacity: 95%;
 }


 /* Menu de Navegação */
 .navbar {

     padding-left: 20rem;

 }

 ul {
     text-align: center;
     padding: 0;
     list-style: none;
     list-style-type: disc;

 }

 li {
     padding: 0;
     margin: 0.0.0.5rem;
     display: list-item;
     position: relative;
     margin: 0;

 }


 a {

     text-decoration: none;
     color: white;
     font-weight: 600;
     font-size: 17px;
     font-family: "Roboto Condensed", sans-serif;
     font-style: normal;
     letter-spacing: 0em;

 }

 nav {

     display: flex;
     float: left;
     padding-left: 0;


 }

 .menu {
     display: flex;


 }

 .menu li {
     padding: 23px;
     list-style-type: none;
     background: 90px;
     padding-top: 0;
 }

 .menu li a:before {


     content: "";
     position: absolute;
     width: 100%;
     height: 3px;
     bottom: 15px;
     left: 0;
     background-color: rgb(255, 255, 255);
     visibility: hidden;

     transform: scaleX(0);

     transition: all 0.3s ease-in-out 0s;



 }






 .menu li a:hover:before {
     visibility: visible;

     transform: scaleX(1);



 }


 .menu li a:hover {

     opacity: 80%;
 }


 #logo {

     margin-bottom: 100px;
     margin-left: 90px;
     position: absolute;
 }

 #link {

     background: rgba(140, 140, 140, 0.30);
     position: absolute;
     margin-top: 300px;
     margin-right: 250px;
     margin-left: 100px;
     background: transparent;
 }


 #link2 {


     position: absolute;
     margin-top: 300px;
     margin-left: 190px;
     background: transparent;

 }

 #button {

     bottom: 0;
     border-radius: 0.4em;


 }

 #link a:hover {
     border-radius: 0.4em;
     color: white;
     background: transparent;

 }


 #link a:before {
     border-radius: 0.4em;
     display: block;
     position: absolute;
     left: 0px;
     bottom: 0px;
     height: 0px;
     width: 100%;
     z-index: -1;
     content: '';
     color: white;
     background: rgba(140, 140, 140, 0.30);
     transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

 }

 #link a:hover::before {

     border-radius: 0.4em;
     top: 0%;
     bottom: auto;
     height: 100%;

 }




 header {

     display: flex;

     background: linear-gradient(180deg, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
 }

 span {

     line-height: 2.5em;
     border-radius: 0.4em;
     border: 0.5px solid rgb(255, 255, 255, 0.3);
     padding: 0.7em 0.5em;

 }

 #link2 a:hover {
     border-radius: 0.4em;
     color: white;
     background: transparent;
 }

 #link2 a:hover::before {

     border-radius: 0.4em;
     top: 0%;
     bottom: auto;
     height: 100%;

 }

 #link2 a:before {
     border-radius: 0.4em;
     display: block;
     position: absolute;
     left: 0px;
     bottom: 0px;
     height: 0px;
     width: 100%;
     z-index: -1;
     content: '';
     color: white;
     background: rgba(140, 140, 140, 0.30);
     transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

 }


 .sociais {

     position: relative;
     display: flex;
     margin-top: 490px;
     transform: translate(-50%, -50%);
     margin-right: 0px;
     margin-left: 330px;
 }

 .sociais a {

     font-size: 25px;
     display: inline-flex;
     width: 50px;
     height: 50px;
     background: black;
     align-items: center;

     justify-content: center;
     transition: 0.5s;

     background: transparent;
 }



 .instagram a:hover {


     transition-duration: 3s !important;


     background: radial-gradient(circle at 35% 100%, #fec564, transparent 50%),
         radial-gradient(circle at 10% 140%, #feda7e, transparent 50%),
         radial-gradient(at 0 -25%, #5258cf, transparent 50%),
         radial-gradient(at 20% -50%, #5258cf, transparent 50%),
         radial-gradient(at 100% 0, #893dc2, transparent 50%),
         radial-gradient(at 60% -20%, #893dc2, transparent 50%),
         radial-gradient(at 100% 100%, #d9317a, transparent),
         linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);

 }

 .youtube a:hover {

     background: red;

 }

 .spotify a:hover {

     background: #0c943c;
 }

 .facebook a:hover {

     background: #124dcb;
 }

 .twitter a:hover {

     background: #008CFF;
 }

 .tiktok a:hover {

     background: black;
 }





 .mobile-menu div {
     width: 32px;
     height: 2px;
     background: #fff;
     margin: 8px;


 }


 #check {
     display: none;
 }

 label {
     display: none;
 }

 .logo-mobile {
     display: none;
 }
























 /* Responsividade  Tablet*/

 @media screen and (max-width: 768px) {




     .navbar {

         padding: 0;
         float: right;
     }

     .menu {
         display: flex;
         padding: 0;
     }

     .logo-mobile {

         display: none;
     }

     #check {
         display: none;
     }

     .sociais {
         position: relative;
         margin-bottom: 0px;
         margin-left: 330px;
     }

     #logo {
         position: absolute;

     }

 }


 /* Responsividade  Celular*/
 @media screen and (max-width: 600px) {

     body {

         padding: 0;
         margin: 0;
         



     }

     nav .menu {
         display: none;
         transition: all 1.5s;

     }

     .navbar {
         padding: 0;
     }

     .menu {
         display: none;
         position: absolute;
         top: 8vh;
         padding: 0;
         right: 16em;
         width: 50vw;
         height: 52vh;
         background: black;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
         transform: translateX(100%);
         transition: all 1.5s;


     }



     #check {
         display: none;
     }

     label {
         font-size: 3em;
         color: white;
         position: relative;
         display: flex;
         transition: all 1.5s;

     }

     .menu li {

         margin-left: 0;
     }

     .mobile-menu {
         display: block;

     }

     #check:checked~.menu {

         position: relative;
         

         background: transparent;
         padding: 10px;
         

     }

     #video {




         position: absolute;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;

         opacity: 95%;
     }


     .menu {
         display: inline;
         padding: 0;

     }







     .spotify a {

         background: #0c943c;
     }

     .instagram a {





         background: radial-gradient(circle at 35% 100%, #fec564, transparent 50%),
             radial-gradient(circle at 10% 140%, #feda7e, transparent 50%),
             radial-gradient(at 0 -25%, #5258cf, transparent 50%),
             radial-gradient(at 20% -50%, #5258cf, transparent 50%),
             radial-gradient(at 100% 0, #893dc2, transparent 50%),
             radial-gradient(at 60% -20%, #893dc2, transparent 50%),
             radial-gradient(at 100% 100%, #d9317a, transparent),
             linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
         opacity: 80%;

     }

     .youtube a {
         background: red;
         opacity: 80%;
     }

     .facebook a {

         background: #124dcb;
         opacity: 80%;
     }

     .twitter a {

         background: #008CFF;
         opacity: 80%;
     }

     .tiktok a {

         background: black;
         opacity: 80%;
     }

     .sociais {

         position: relative;
         margin-top: 0px;
         padding-right: 50px;
         margin-left: 0px;

     }





     header {
         background: transparent;
     }

     #link {
         position: absolute;
         margin-right: 110px;
         float: left;
         margin-left: 0px;
         padding: 0;
         float: left;
         width: 240px;
     }

     #link2 {
         position: absolute;
         margin-left: 550px;
         margin-right: 0px;
         float: right;
         padding: 0;
         width: 240px;

     }

     span {


         float: left;


     }

     nav {
         margin-left: 5px;
     }


     

     #link2 a:before {
       
         background:none;
         transition: none;

     }

     #link a:before {
       
        background:none;
        transition: none;

    }




 }

 /* Responsividade  Tablet*/
 @media screen and (max-width: 1040px) {




     .navbar {

         padding: 0;
         float: right;
     }

     .menu {
         display: flex;
         padding: 0;
     }

     .logo-mobile {

         display: none;
     }



 }

 /* Responsividade  Celular*/
 @media screen and (max-width: 720px) {

     body {

         padding: 0;
         margin: 0;
         overflow: hidden;



     }

     nav .menu {
         display: none;
         transition: all 1.5s;

     }

     .navbar {
         padding: 0;
     }

     .menu {
         display: none;
         position: absolute;
         top: 8vh;
         padding: 0;
         right: 16em;
         width: 50vw;
         height: 52vh;
         background: black;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
         transform: translateX(100%);
         transition: all 1.5s;


     }



     #check {
         display: none;
     }

     label {
         font-size: 3em;
         color: white;
         position: relative;
         display: flex;
         transition: all 1.5s;

     }

     .menu li {

         margin-left: 0;
     }

     .mobile-menu {
         display: block;

     }

     #check:checked~.menu {

         position: relative;
         display: flex;

         background: transparent;
         padding: 10px;


     }

     #video {




         position: absolute;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;

         opacity: 95%;
     }


     .menu {
         display: inline;
         padding: 0;

     }







     .spotify a {

         background: #0c943c;
     }

     .instagram a {





         background: radial-gradient(circle at 35% 100%, #fec564, transparent 50%),
             radial-gradient(circle at 10% 140%, #feda7e, transparent 50%),
             radial-gradient(at 0 -25%, #5258cf, transparent 50%),
             radial-gradient(at 20% -50%, #5258cf, transparent 50%),
             radial-gradient(at 100% 0, #893dc2, transparent 50%),
             radial-gradient(at 60% -20%, #893dc2, transparent 50%),
             radial-gradient(at 100% 100%, #d9317a, transparent),
             linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
         opacity: 80%;

     }

     .youtube a {
         background: red;
         opacity: 80%;
     }

     .facebook a {

         background: #124dcb;
         opacity: 80%;
     }

     .twitter a {

         background: #008CFF;
         opacity: 80%;
     }

     .tiktok a {

         background: black;
         opacity: 80%;
     }

     .sociais {


         margin-top: 550px;
         margin-right: 0px;
         margin-left: 380px;
     }





     header {
         background: transparent;
     }

     #link {
         position: absolute;
         margin-right: 110px;
         float: left;
         margin-left: 0px;
         padding: 0;
         float: left;
     }

     #link2 {
         position: absolute;
         margin-left: 300px;
         margin-right: 50px;
         float: left;
         padding: 0;

     }

     span {


         float: left;

     }

     nav {
         margin-left: 5px;
     }
 }